<%= render("layouts/errors", :object => @user) %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit(:class => "btn btn-primary") %>
  <% end %>
